<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('share/head_link.ejs') %>
        <!-- <link rel="stylesheet" href="css/modal.css"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/loadingio/loading.css@v2.0.0/dist/loading.css">
</head>

<body>
    <%- include('share/header.ejs') %>

    <%- include('share/modal.ejs') %>

    <%- include('share/footer.ejs') %>
    
    <!-- ↓↓↓↓↓ script 這裡開始 ↓↓↓↓↓ -->
    <%- include('share/vg-main.ejs') %>
    


</body>