<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
<%- include('share/m_green_header.ejs') %>

<%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="flex-grow-1">
        <%- include('share/m_notify.ejs') %>

        <!-- content -->
        <div class="memb-content">
          <h4>常用地址</h4>
          
          <div class="memb-address card">
            <div class="card-header d-flex">
                <p>貨運地址</p>
            </div>
            <ul class="list-group list-group-flush">

            <% if( datahouse == [] ) { %>

            <% }else { %>
              <% for( var i = 0; i < datahouse.length; i++ ) { %>
              <li class="list-group-item d-flex flex-column">
                <a href="#">
                    <div class="mb-2">
                      <span><%= datahouse[i].Name %></span> &nbsp | &nbsp
                      <span class="text-black-50">(+886) <%= datahouse[i].babaliu %></span>
                    </div>
                    <div class="vg-ps text-black-50">
                      <p><%= datahouse[i].address %></p>
                      <p><%= datahouse[i].zipcode %> <%= datahouse[i].country %></p>
                    </div>
                  </a>
                </li>
              <% } %>
            <% } %>

            </ul>
            <a class="add-address" href="#">新增地址</a>
          </div>
          
  
          <div class="memb-addShop card">
            <div class="card-header d-flex">
                <p>超商取貨地址</p>
            </div>
            <ul class="list-group list-group-flush">
            <% if( datashop == [] ) { %>

            <% }else { %>
              <% for( var i = 0; i < datashop.length; i++ ) { %>
              <li class="list-group-item d-flex flex-column">
                <a href="#">
                  <div class="mb-2">
                    <span><%= datashop[i].Name %></span> &nbsp | &nbsp
                    <span class="text-black-50">(+886) <%= datashop[i].babaliu %></span>
                    <p><%= datashop[i].shopName %></p>
                  </div>
                  <div class="vg-ps text-black-50">
                    <p><%= datashop[i].address %></p>
                    <p>門市店號: <%= datashop[i].sId %></p>
                    <span class="address-sid">超商品牌 門市</span>
                  </div>
                </a>
              </li>
              <% } %>
            <% } %>
            </ul>
            <a class="add-address" href="#">新增 取貨地址</a>
          </div>

          <br><br><br><br>
        </div>
    </div>

    <%- include('share/m_multF.ejs') %>

<%- include('share/footer.ejs') %>

</body>

</html>