<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
<%- include('share/m_green_header.ejs') %>

  <%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="flex-grow-1">
      <%- include('share/m_notify.ejs') %>

      <!-- content -->
      <div class="memb-content">
        <h4 class="vg-h4">個人收藏</h4>
    
        <% for(var i = 0; i < datarticle.length; i++) { %>
          <div class="article-card card mb-3">
            <!-- <a href="#"> -->
            <a href="/blog/inside/<%= datarticle[i].atcid %>">
              <div class="row g-0">
                <div class="article-img col-4">
                  <img src="<%= datarticle[i].atcimg %>" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="vg-h5 fw-semibold"><%= datarticle[i].atcTitle %></h5>
                    <p><%= datarticle[i].atcText %></p>
                    <p class="card-text"><small class="text-muted">More...</small></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <% } %>
        </div>
    
        <br><br><br><br>
    </div>

  <%- include('share/m_multF.ejs') %>

<%- include('share/footer.ejs') %>

</body>

</html>