<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
<%- include('share/m_green_header.ejs') %>

<%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="memb-content">
      <h4 class="vg-h4">我的VG點</h4>
  
      <div class="memb-coinRC">
        <div class="card-header d-flex">
          <div>
            <p>
              50
              <small class="vg-ps"> 可使用的綠苗點</small>
            </p>
            <p class="vg-ps exp" data-bs-toggle="tooltip" data-bs-placement="bottom" title="期限為您獲得的月份加上一個月的最後一天，請記得於期限前使用完畢!">
              <small class="text-muted">
                2023-11-04
              </small>
              到期
            </p>
          </div>
          <a href="/activityboard">
            <span class="btn btn-vg-reg btn-vg-secondary">
            獲得更多點數
            </span>
          </a>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex">
              <div>
                <p>每日轉盤抽獎</p>
                <p class="vg-ps">
                  <small class="text-muted">2023-09-05 16:27</small>
                </p>
              </div>
              <span>+30</span>
            </li>
            <li class="list-group-item d-flex used">
              <div>
                <p>訂單金額折抵</p>
                <p class="vg-ps">
                  <small class="text-muted">2023-09-04 21:01</small>
                </p>
              </div>
              <span class="used">-35</span>
            </li>
            <li class="list-group-item d-flex">
              <div>
                <p>每日轉盤抽獎</p>
                <p class="vg-ps">
                  <small class="text-muted">2023-09-03 9:10</small>
                </p>
              </div>
              <span>+30</span>
            </li>
            <li class="list-group-item d-flex">
              <div>
                <p>每日轉盤抽獎</p>
                <p class="vg-ps">
                  <small class="text-muted">2023-09-02 19:30</small>
                </p>
              </div>
              <span>+15</span>
            </li>
            <li class="list-group-item d-flex">
              <div>
                <p>每日轉盤抽獎</p>
                <p class="vg-ps">
                  <small class="text-muted">2023-09-01 22:00</small>
                </p>
              </div>
              <span>+10</span>
            </li>
        </ul>
      </div>
      
      
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br>
    </div>

    <%- include('share/m_multF.ejs') %>

<%- include('share/footer.ejs') %>

</body>

</html>