<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
<%- include('share/m_green_header.ejs') %>

<%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="memb-content">
      <h4>我的VG點</h4>
  
      <div class="memb-coinRC">
        <div class="card-header d-flex">
          <div>
            <p>
              <%= datasum %>
              <small class="vg-ps"> 可使用的VG點數</small>
            </p>
            <p class="vg-ps exp" data-bs-toggle="tooltip" data-bs-placement="bottom" title="期限為您獲得的月份加上一個月的最後一天，請記得於期限前使用完畢!">
              <small id="exp" class="text-muted">
                <%= dataET %>
              </small>
              到期
            </p>
          </div>
          <a href="/activityboard">
            <span class="btn btn-vg-reg btn-vg-secondary">
            獲得更多點數
            </span>
          </a>
        </div>

        <ul class="list-group list-group-flush">
          <% for( var i = 0; i < databonus.length; i++ ) { %>
            <% if( databonus[i].bonus > 0 ) { %>
              <li class="list-group-item d-flex">
                <div>
                <% if( databonus[i].state == "lotto" ) { %>
                  <p>每日轉盤抽獎</p>
                <% }else { %>
                  <p>購物回饋金</p>
                <% } %>
                <p class="vg-ps">
                  <small class="text-muted"><%= dataTime[i] %></small>
                </p>
              </div>
              <span>+<%= databonus[i].bonus %></span>
              
            <% }else { %>
              <li class="list-group-item d-flex used">
                <div>
                <p>訂單金額折抵</p>
                <p class="vg-ps">
                  <small class="text-muted"><%= dataTime[i] %></small>
                </p>
              </div>
              <span class="used"><%= databonus[i].bonus %></span>
            </li>
            <% } %>
          <% } %>
        
        </ul>
      </div>
      
      
      <br><br><br><br>
    </div>

    <%- include('share/m_multF.ejs') %>

<%- include('share/footer.ejs') %>

<script>
  $(function() {
    
    // 到期日計算
    const earliest = dayjs( $('#exp').html() );
    const startM = earliest.startOf('month');
    const endM = startM.add(1, 'month').endOf('month').format('YYYY-MM-DD');
    $('#exp').text(endM);

  })
</script>

</body>

</html>