<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
<%- include('share/m_green_header.ejs') %>

<%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="flex-grow-1">
        <%- include('share/m_notify.ejs') %>

        <!-- content -->
        <div class="memb-content">
          <h4>信用卡</h4>
          
          <div class="memb-credit card">
            <div class="card-header d-flex">
                <p>我的信用卡</p>
            </div>
            <ul class="list-group list-group-flush">
            
              <% for( var i = 0; i < datacard.length; i++ ) { %>
                <li class="list-group-item">
                  <a class="flex-row" href="#">
                    <div class="col-1">
                        <img class="creditCL" src="<%= datacard[i].cardimg %>" alt="">
                    </div>
                    <div class="col-9">
                      <% if( datacard[i].default == 1 ) { %>
                      <p class="cardDefault"><%= datacard[i].bank %></p>
                      <% }else { %>
                        <p><%= datacard[i].bank %></p>
                      <% } %>
                    </div>
                    <div class="col-2">
                      <p>*<%= datacard[i].lastN %></p>
                    </div>
                  </a>  
                </li>
              <% } %>
                
            </ul>
            <a class="add-creditC" href="/">新增信用卡</a>
          </div>
          
          
          <br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br>
        </div>
    </div>

    <%- include('share/m_multF.ejs') %>

<%- include('share/footer.ejs') %>

</body>

</html>