<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員中心</title>
    <link rel="icon" href="/img/fruitbox_s.png">

    <%- include('share/head_link.ejs') %>
    
    <!-- member的 CSS、JS 引用 -->
    <%- include('share/memb_link.ejs') %>
</head>

<body>
    <%- include('share/m_green_header.ejs') %>

    <%- include('share/m_HSidebar.ejs') %>
    
    <!-- contents -->
    <div class="flex-grow-1">
        <%- include('share/m_notify.ejs') %>

        <!-- content -->
        <div class="memb-content">
            <h4 class="welcome">Welcome</h4>
            <div class="memb-coinRC mb-5 pe-2">
              <div class="card-header d-flex">
                <div>
                  <p>
                    245
                    <small class="vg-ps exp"> 可使用的VG點數</small>
                  </p>
                  <p class="vg-ps exp">
                    <small id="exp" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="bottom" title="期限為您獲得的月份加上一個月的最後一天，請記得於期限前使用完畢!">
                      2023-10-31 到期
                    </small>
                  </p>
                </div>
                <a href="/activityboard">
                  <span class="btn btn-vg-reg btn-vg-secondary">
                  獲得更多點數
                  </span>
                </a>
              </div>
            </div>
            
            <div class="memb-order row">
              <ul class="list-group">
    
                <li class="list-group-item col-12 row">
                  <div class="col-12 d-flex justify-content-between">
                    <span>✤ 編號: 503835</span>
                    <span>2023-9-10 17:08</span>
                  </div>
                  <div class="col-3 pimg">
                    <img src="img/中秋箱.png" alt="">
                  </div>
                  <div class="col-4">
                    <p>品項: 中秋箱</p>
                    <p>份量: 2-3人</p>
                    <p>數量: 1</p>
                  </div>
                  <div class="col-2">
                    <p>單次配送</p>
                  </div>
                  <div class="col-3 order-button1">
                    <a href="/rateorder"><button class="btn">訂單評價</button></a>
                    <button class="btn">聯絡客服</button>
                    <!-- <button class="btn btn-vg-redborder">延後配送</button> -->
                    <!-- <button class="btn">查看詳情</button> -->
                  </div>
    
                  <a href="#">
                    <div class="viewMoreP col-12 text-center">
                      共 3 樣商品，檢視更多商品
                    </div>
                  </a>
    
                  <div class="col-10">
                    <span>訂單狀態: 已完成</span>
                  </div>
                  <div class="col-2 total">
                    <span>$2400</span>
                  </div>
                </li>
              </ul>
            </div>
            
            <div class="memb-order row">
              <ul class="list-group">
    
                <li class="list-group-item col-12 row">
                  <div class="col-12 d-flex justify-content-between">
                    <span>✤ 編號: 3490516</span>
                    <span>22023-09-18 4:01</span>
                  </div>
                  <div class="col-3 pimg">
                    <img src="img/自選蔬果箱.png" alt="">
                  </div>
                  <div class="col-4">
                    <p>品項: 自選蔬果箱</p>
                    <p>份量: 雙人箱(1-2)</p>
                    <p>數量: 1</p>
                  </div>
                  <div class="col-2">
                    <p>每周配送(30天)</p>
                  </div>
                  <div class="col-3 order-button2">
                    <button class="btn">追蹤狀態</button>
                    <button class="btn">聯絡客服</button>
                    <button class="btn btn-vg-redborder putOff">延後配送</button>
                    <!-- <button class="btn">查看詳情</button> -->
                  </div>
                  
                  <!-- <a href="#">
                    <div class="viewMoreP col-12 text-center">
                      共 ? 樣商品，檢視更多商品
                    </div>
                  </a> -->
    
                  <div class="col-10">
                    <span>訂單狀態: 配送中</span>
                  </div>
                  <div class="col-2 total">
                    <span>$400</span>
                  </div>
                </li>
              </ul>
            </div>
            
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br>
          </div>
    </div>

    <%- include('share/m_multF.ejs') %>

    <%- include('share/footer.ejs') %>

</body>
<script>
  $('.putOff').on( 'click', function() {
    // console.log('ok');
    Swal.fire({
      title: '本筆訂單確定要延後配送嗎?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: 'var(--secondary-g)',
      cancelButtonColor: 'var(--secondary-r)',
      confirmButtonText: '確定',
      cancelButtonText: '取消'
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: '已送出延後配送的需求，物流客服將盡快向您聯繫', 
          icon: 'success', 
          confirmButtonColor: 'var(--secondary-g)',
        })
      }
    })
  })
</script>

</html>